footer{
	float: left;
	background-color: darkcyan;
    color: aliceblue;
    width: 100%;
}
footer p{
	text-align: center;
}
body{
	background-image: url("../img/fondo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.card{
	opacity: 0.97;
}